@font-face
{
    font-family: HolidayWriting;
    src: url(../fonts/SF_Cartoonist_Hand-webfont.woff) format('woff');
}

@font-face
{
    font-family: PTSansRegular;
    src: url(../fonts/PT_Sans-webfont.woff) format('woff');
}       
nav
{
    width: 100%;
    margin: 0 auto;
}

nav ul
{
    list-style: none;
    width: 90%;
}

 nav ul li
{
        width: 15%;
        display: inline-block;
        padding: 10px;
        font-family: Verdana;
        font-size: 18px;
        border: 1px solid darkred;
        text-align: center;
        margin-right: 10px;
}


nav ul li:last-child a:hover
{
    color: green;
    
}

 nav ul li a
            {
                text-decoration: none;
                color: darkred;
                text-shadow: 1px 1px #c3c3c3;
            }

                nav ul li a:hover
                {
                    text-decoration: none;
                    color: #fffff0;
                    font-style: italic;
                    text-shadow:  0 0 1px darkred;
                }
article img
{
    width:90%;
    margin-left: 10px;
    margin-right: auto;
    box-shadow: 3px 3px 4px #c3c3c3;
    border-right: 2px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}

article ul li:nth-child(even)
       {
         color:darkgreen;
          }

.cartbutton
{
    color: darkgreen;
    background-color: #fffff0;
    border: 2px solid darkgreen;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 12px;
    padding: 5px 8px;
    float: right;
    box-shadow: 3px 3px 3px #c3c3c3;
    margin: 10px;
    
}

.cartbutton:hover
    {
    background-color: #5ea95e;
    color: #fffff0;
    cursor: pointer;
    }


ul.boxes
{
    list-style-image: url(../images/present_bullet.png);
    list-style-position: outside;
    margin-bottom: 6px;
}
.container
{
    width: 1000px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

article
{
    border: 1px solid darkgreen;
    font-size: 18px;
    font-family: Verdana;
    width: 260px;
    padding: 20px;
    height: 760px;
    float: left;
    margin: 10px;
    margin-bottom: 30px;
}

.holidayfont
{
    font-family: HolidayWriting;
    color: darkgreen;
    font-size: 20px;
}

.holidaytitle
{
    font-family: PTSansRegular;
    color: #3c3c3c;
    font-size: 1.6em;
    text-align: center;
    text-shadow: -1px -1px #c3c3c3, -2px -2px #808080;
}

@media screen and (max-width:1000px)
{
    .container
    {
        width: 700px;
    }

    article
    {
        width: 200px;
        height: auto;
        padding: 10px;
        margin-right: 5px;
    }

    article ul 
    {
        font-size: 14px;
    }


    nav ul li
    {
        padding: 4px;
        font: 16px Verdana;
    }
}

@media screen and (max-width:760px)
{
    .container
    {
        width: 370px;
    }

    article
    {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 0;
        height: auto;
        display: block;
        overflow: auto;
    }

    nav ul li
    {
        width: 80%;
        display: block;
        padding: 4px;
        font: 14px Verdana;
    }

       
}

@media screen and (max-width:400px)
{
    .container
    {
        width: 260px;
    }
}
        